
header{
    background-color: #e9e9e9;
}
.logo{
    background-image: url(../img/Logo.png);
    background-repeat: no-repeat;
    margin: 48px 100px;
    position: relative;
    height: 50px;
}
.navbar{
    float: right;s
    display: inline-block;
}
.navbar-nav{
    padding: 20px 0px 20px 0px;
    margin-top: 18px;
    font-family: "MontserratMedium";
    font-size: 16px;
    margin-right: 100px;

}
.nav-item .nav-link{
    color: #412727;
    text-transform: uppercase;

}
.nav-link:hover{
    color: #2ecbc6;
}
.navbar-light .navbar-nav .nav-link{
    color: #412727;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #2ecbc6;
}
.ads{
    margin-top: 180px;
    padding-bottom: 200px;
}
.ads h2{
    font-size: 38px;
    text-align: center;
    font-family: "MontserratMedium";

    position: relative;
}
.ads p{
    margin-top: 50px;
    text-align: left;
    font-size: 18px;
    font-family: "NunitoSansRegular";
    margin-left: 90px;
    padding-bottom: 40px;
}
.ads .button{
    border-radius:3px ;
    padding: 20px 50px 20px 50px;
    background-color: #10c9c3;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

}
.ads .button a{
    color: #ffffff;

}
.about_us h2{
    color: black;
    text-align: center;
    margin-top: 100px;
    font-family: "MontserratMedium";
    font-size: 30px;
}
.about_us p{
    margin-top: 40px;
    text-align: center;
    font-family: "NunitoSansRegular";
}
.sign{
    margin-top: 40px;
    background-image: url(../img/sign.png);
    background-repeat: no-repeat;
    position: relative;
    left: 310px;
    padding: 100px;  
}
.white_sqr{
    background-color: #f8f9f9;
    width: 100%;
    height: 570px;
}
.progress1 .progress-bar{
    background-color: #10c9c3;
    padding: 5px;
    width: 100%;
    margin: 25px;
}

.progress2 .progress-bar{

    margin: 25px;
    padding: 5px;
    width: 100%;
    background-color: #10c9c3;
}
.progress1  h2{
    font-size: 30px;
    padding: 15px;
    text-transform: uppercase;
    left: -180px;
    position: relative;
    text-align: center;
}
.progress2  h2{
    font-size: 30px;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    left: -145px;
    position: relative;
}
.progress3  h2{
    font-size: 30px;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    left: -192px;
}
.progress3 .progress-bar{
    margin: 25px;
    padding: 5px;
    width: 100%;
    background-color: #10c9c3;
}
.grey_sqr{
    background-color: #e9e9e9;
    width: 774px;
    height: 570px;
    position: relative;
    left: -30px;
}
.white_sqr h1{
    text-align: center;
    position: relative;
    left: -156px;
    padding: 45px;
}
.rating{
    background-color: #10c9c3;
    height: 240px;
    width: 100%;
    display: inline-block;
}
.projects{
    background-image: url(../img/ChemodanV3.png);
    background-repeat: no-repeat;
    height: 40px;
    position: relative;
    margin-top: 105px;
}
.hours{
    background-image: url(../img/chasi.png);
    background-repeat: no-repeat;
    height: 40px;
    margin-top: 105px;
}
.feedbacks{
    background-image: url(../img/2.png);
    background-repeat: no-repeat;
    height: 40px;
    position: relative;
    margin-top: 105px;
}
.happy{
    background-image: url(../img/heart.png);
    background-repeat: no-repeat;
    height: 40px;
    position: relative;
    margin-top: 105px;
}
.squares_up{
    width: 100%;
    height: 290px;
}
.grey{
    position: absolute;
    left: -0px;
    height: 290px;
    width: 100%;
    background-color: #838383;
}
.w_grey{
    background-color: #dddddd;
    position: absolute;
    left: 0px;
    height: 290px;
    width: 100%;
}
.grey2{
    position: absolute;
    left: 0px;
    height: 290px;
    width: 100%;
    background-color: #838383;
}
.w_grey2{
    background-color: #dddddd;
    position: absolute;
    left: 0px;
    height: 290px;
    width: 100%;
}
.eye{
    background-color: #dddddd;
    position: absolute;
    left: 0px;
    height: 290px;
    width: 100%;

}
.eye:hover{
    position: absolute;
    left: 0px;
    height: 290px;
    width: 100%;
    background-color: #252525;
    background-image: url(../img/GLAZ.png);
    background-repeat: no-repeat;
    background-position: center;
}
.w_right,
.w_left{
    display: inline-block;
}
.w_right{
    margin: -30px 57px
}
.w_right p{
    color:#f4fcfb;
    text-transform: uppercase;
    font-size: 13px;
}
.w_right1,
.w_left1{
    display: inline-block;
}
.w_right1{
    margin: -30px 60px
}
.w_right1 p{
    color:#f4fcfb;
    text-transform: uppercase;
    font-size: 13px;
}
.w_right2 p{
    color:#f4fcfb;
    text-transform: uppercase;
    font-size: 13px;
}
.w_right3 p{
    color:#f4fcfb;
    text-transform: uppercase;
    font-size: 13px;
}
.w_right2,
.w_left2{
    display: inline-block;
}
.w_right2{
    margin: -30px 60px;
}
.w_right3,
.w_left3{
    display: inline-block;
}
.w_right3{
    margin: -30px 60px;
}
.w_right h2{
    color:#f4fcfb;
    text-transform: uppercase;
    font-size: 32px;
}
.w_right1 h2{
    color:#f4fcfb;
    text-transform: uppercase;
    font-size: 32px;
}
.w_right2 h2{
    color:#f4fcfb;
    text-transform: uppercase;
    font-size: 32px;
}
.w_right3 h2{
    color:#f4fcfb;
    text-transform: uppercase;
    font-size: 32px;
}
.load_work{
    background-color: #f5f5f5;  
    height: 100px;
    width: 100%;
    position: relative;
    top: 290px;


}
.load_work h2{
    position: relative;
    top: 36px;
    color: #8e8e8e;
    text-align: center;
}
.process{

}
.process h2{
    width: 100%;
    position: relative;
    top: 450px;
    text-align: center;
    color: black;
    padding: 40px;
}
.process p{
    width: 100%;
    position: relative;
    top: 450px;
    text-align: center;
    color: black;
}
.progress-bar{
    border-radius: 3px;
}
.video_box{
    width: 100%;
    height: 570px;
    position: relative;
    top: 502px;
    background-color: #e9e9e9;
    margin-bottom: 100px;
}
.button_play{
    height: 80px;
    width: 80px;
    border-radius: 90px;
    background-image: url(../img/play_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #10c9c3;
    position: absolute;
    bottom: 274px;
    right: 740px;

}
.icons{
    width: 100%;
    height: 630px;
    position: relative;
    top: 602px;
    background-color: #e9e9e9;
    display: block;

}
.top_ico{
    padding: 100px;
    display: block;
}
.top{
    background-image: url(../img/diamond.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    position: relative;
    background-position: center;
    margin-bottom: 30px;
    position: relative;

    right: -68px;

}
.bottom h2{
    font-size: 28px;
    text-transform: uppercase;

}


.top2{
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin-bottom: 30px;
    position: relative;
    right: -68px;
}
.bottom2{}
.bottom2 h2{
    font-size: 28px;
    text-transform: uppercase;

}

.top3{    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    height: 44px;
    width: 40px;
    margin-bottom: 30px;
    position: relative;

    right: -68px;
}
.bottom3{}
.bottom3 h2{
    font-size: 28px;
    text-transform: uppercase;

}
.top4{

    background-image: url(../img/gamepad.png);
    background-repeat: no-repeat;
    height: 42px;
    width: 44px;
    margin-bottom: 30px;
    position: relative;

    right: -68px;
}
.bottom4{}
.bottom4 h2{
    font-size: 28px;
    text-transform: uppercase;

}
.top5{
    background-image: url(../img/plane.png);
    background-repeat: no-repeat;
    height: 42px;
    width: 44px;
    margin-bottom: 30px;
    position: relative;

    right: -68px;
}
.bottom5{}
.bottom5 h2{
    font-size: 28px;
    text-transform: uppercase;

}
.top6{background-image: url(../img/star_bl.png);
    background-repeat: no-repeat;
    height: 42px;
    width: 44px;
    margin-bottom: 30px;
    position: relative;

    right: -68px;
}

.bottom6{}
.bottom6 h2{
    font-size: 28px;
    text-transform: uppercase;

}
.top7{background-image: url(../img/m_stick.png);
    background-repeat: no-repeat;
    height: 42px;
    width: 44px;
    margin-bottom: 30px;
    position: relative;

    right: -68px;
}
.bottom7{}
.bottom7 h2{
    font-size: 28px;
    text-transform: uppercase;

}
.top8{background-image: url(../img/oil.png);
    background-repeat: no-repeat;
    height: 46px;
    width: 44px;
    margin-bottom: 30px;
    position: relative;

    right: -68px;
}
.bottom8{}
.bottom8 h2{
    font-size: 28px;
    text-transform: uppercase;

}
.bot_ico{

}
.slider{
    width: 100%;
    height: 500px;
    position: relative;
    top: 602px;
    background-color: #10c9c3;
    margin-bottom: 65px;
}
.carousel {
    width: 100%;
    height: 500px;

}
.carousel-item{
    width: 100%;
    height: 500px;
}
.carousel-caption{
    width: 700px;
    height: 300px; 
    text-align: center;
}
.carousel h2{

    color: #fff;
    font-size: 25px;
    text-align: center;
}
.carousel h3{
    padding: 20px;
    font-size: 16px;
}
.logos{
    width: 100%;
    height: 195px;
    position: relative;
    top: 602px;
    background-color: #ffffff; 
}
.logo1{
    background-image: url(../img/LOGO1.png); 
    background-repeat: no-repeat;
    height: 128px;
    width: 100%;
}
.logo2{
    background-image: url(../img/LOGO2.png); 
    background-repeat: no-repeat;
    height: 128px;
    width: 100%;
}
.logo3{
    background-image: url(../img/LOGO3.png); 
    background-repeat: no-repeat;
    height: 128px;
    width: 100%;
}
.logo4{
    background-image: url(../img/LOGO4.png); 
    background-repeat: no-repeat;
    height: 128px;
    width: 100%;
}
.logo5{
    background-image: url(../img/LOGO5.png); 
    background-repeat: no-repeat;
    height: 128px;
    width: 100%;
}
.project{
    width: 100%;
    height: 730px;
    position: relative;
    top: 602px;
    background-color: #e9e9e9;

}
.project h2{
    margin-top: 100px;
    text-align: center;
}
.project p{
    margin-top: 40px; 
    text-align: center;
}
.top_inp{
    margin-bottom: 28px;
}
.middle_inp{
    margin-bottom: 28px;
}
.bot_inp{
    margin-bottom: 32px;
}

footer{
    width: 100%;
    height: 280px;
    position: relative;
    top: 602px;
    background-color: #141414;
}
footer h2{
    margin-top: 100px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
footer p{
    margin-top: 34px;
    color: #b4b4b4;
    text-align: center;
}
footer .email, .num{
    color: #b4b4b4;
    text-align: center;
}
footer .email{
    margin-top: 100px;
}
footer.num{
    margin-top: 10px;
}
footer .news,
.projects1{
    list-style: none;
    display: inline-block;
    color: #b4b4b4;
    margin-top: 100px;
}

footer .social{
    list-style: none;
    display: inline-block;
    color: #b4b4b4;
    margin-top: 100px;
}
.social li>a{
    text-decoration: none;
    color: #b4b4b4;
}